//
// Header
// --------------------------------------------------

.site-header {
  display: block;
  position: relative;
  width: 100%;

  // Navbar Container
  .navbar {
    background-color: @navbar-default-bg;
    border-bottom: 1px solid @navbar-default-border;
    .padding-tb();
    transition: all .3s ease;
  }

  // Navbar brand
  .navbar-brand {
    color: @navbar-default-brand-color;

    &:hover,
    &:focus {
      background-color: @navbar-default-brand-hover-bg;
      color: @navbar-default-brand-hover-color;
    }
  }

  // Navbar Toggle
  .navbar-toggle {
    border-color: @navbar-default-toggle-border-color;

    &:hover,
    &:focus {
      background-color: @navbar-default-toggle-hover-bg;
    }
  }

  // Navbar Collapse
  .navbar-collapse {
    border-color: @navbar-default-border;
  }

  // Navigation Links
  .navbar-nav {
    > li > a {
      border-radius: 24px;
      color: @navbar-default-link-color;
      font-size: 13px;
      line-height: (18 / 13);
      padding: 5px 18px;
      .text-uppercase();

      &:hover,
      &:focus {
        background-color: @navbar-default-link-hover-bg;
        color: @navbar-default-link-hover-color;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: @navbar-default-link-active-color;
        background-color: @navbar-default-link-active-bg;
      }
    }
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: @navbar-default-link-active-bg;
        color: @navbar-default-link-active-color;
      }
    }
  }

  &:not(.site-header-alt) {
    .navbar {
      box-shadow: 0 2px 15px 0 rgba(0,0,0,.1);
    }
  }

  // Fixed Header
  &.fixed-nav {
    .navbar {
      .padding-tb(5px);
    }
  }

  @media (max-width: @grid-float-breakpoint-max) {
    .navbar-nav {
      .open .dropdown-menu {
        > li > a {
          color: @navbar-default-link-color;

          &:hover,
          &:focus {
            background-color: @navbar-default-link-hover-bg;
            color: @navbar-default-link-hover-color;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            background-color: @navbar-default-link-active-bg;
            color: @navbar-default-link-active-color;
          }
        }
      }
    }
  }
  @media (min-width: @screen-sm) {
    position: fixed;
      left: 0;
      top: 0;
    width: 100%;
    z-index: @zindex-navbar-fixed;
  }
  @media (min-width: @screen-lg) {
    .navbar {
      .padding-tb(29px);
    }
    .navbar-nav {
      > li > a {
        .margin-tb(16px);
      }
    }
    &.fixed-nav {
      .navbar {
        .padding-tb(15px);
      }
    }
  }
}

// Transparent Header
// -------------------------
body.home .site-header {
  &:not(.fixed-nav) {
    .navbar {
      background-color: transparent;
      border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    }
    .navbar-nav {
      > li > a {
        color: #fff;
      }
    }
  }
}
