{% set bodyClass = "detaylar" %}
<!-- detaylar.njk -->
{% extends "layouts/master.njk" %}

{% block content %}
    <div class="banner">
      <div class="banner-image" style="background-image: url(assets/images/banner.jpg);"></div>
      <div class="banner-content">
        <h1 class="banner-title">Detaylar</h1>
      </div>
    </div>
    <div class="section section-primary">
      <div class="section-inner">
        <div class="section-header">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h2 class="section-title">Lorem Ipsum Dolor</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="section-body">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <h3 class="content-title">Lorem Ipsum Dolor</h3>
                <p>Aliquam ornare hendrerit augue Cras tellus in pulnivar lectus a est eget orci Cras.</p>
                <p>adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras tellus in pulnivar lectus a est Curabitur eget orci Cras laoreet ligula.</p>
              </div>
              <div class="col-xs-12 col-sm-4">
                <h3 class="content-title">Lorem Ipsum Dolor</h3>
                <p>Aliquam ornare hendrerit augue Cras tellus in pulnivar lectus a est eget orci Cras.</p>
                <p>adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras tellus in pulnivar lectus a est Curabitur eget orci Cras laoreet ligula.</p>
              </div>
              <div class="col-xs-12 col-sm-4">
                <h3 class="content-title">Lorem Ipsum Dolor</h3>
                <p>Aliquam ornare hendrerit augue Cras tellus in pulnivar lectus a est eget orci Cras.</p>
                <p>adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras tellus in pulnivar lectus a est Curabitur eget orci Cras laoreet ligula.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-alt">
      <div class="section-inner">
        <div class="section-header">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h2 class="section-title">Lorem Ipsum Dolor</h2>
                <p class="section-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="section-body">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="cards cards-3-col cards-hover">
                  <div class="card">
                    <div class="card-inner">
                      <div class="card-object">
                        <img src="assets/images/icerik01.jpg" alt="Lipsum Dolor">
                      </div>
                      <div class="card-body">
                        <div class="card-body-inner">
                          <p class="card-text">Lorem Ipsum is simply</p>
                          <h4 class="card-title">Lipsum Dolor</h4>
                          <a href="#" class="card-btn">Devamı +</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-inner">
                      <div class="card-object">
                        <img src="assets/images/icerik01.jpg" alt="Lipsum Dolor">
                      </div>
                      <div class="card-body">
                        <div class="card-body-inner">
                          <p class="card-text">Lorem Ipsum is simply</p>
                          <h4 class="card-title">Lipsum Dolor</h4>
                          <a href="#" class="card-btn">Devamı +</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-inner">
                      <div class="card-object">
                        <img src="assets/images/icerik01.jpg" alt="Lipsum Dolor">
                      </div>
                      <div class="card-body">
                        <div class="card-body-inner">
                          <p class="card-text">Lorem Ipsum is simply</p>
                          <h4 class="card-title">Lipsum Dolor</h4>
                          <a href="#" class="card-btn">Devamı +</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-bg-image" style="background-image: url(assets/images/bg_icerik01.jpg);">
      <div class="section-inner text-center">
        <div class="section-body">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h2 class="section-title">Lorem Ipsum Dolor</h2>
                <p>Lorem Ipsum is simply dummy text of the printing. <br>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="section-footer">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <a href="#" class="btn btn-rounded btn-action">Devamı <i class="fa fa-long-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
