{% set bodyClass = "home" %}
<!-- index.nunjucks -->
{% extends "layouts/master.njk" %}

{% block content %}
  <div class="hero">
    <div class="hero-inner">
      <div class="hero-content">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h1 class="hero-title">Eğer hayal edebilirsen yapabilirsin</h1>
              <p>İhtiyacın olan şey sadece inanmak!</p>
              <a href="#" class="btn btn-primary">Nasıl mı?</a>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-footer">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <h3 class="hero-title">Bizimle buluşmak için,</h3>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="hero-countdown" data-countdown="2018/01/21 00:00:00"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- .hero -->
  <div class="section section-introduction">
    <div class="section-inner">
      <div class="section-header">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h2 class="section-title">Peki ya sonra?</h2>
              <p class="section-subtitle">Bir karar verdiniz; ardından koştunuz, uyguladınız. Tebrikler! Artık bir fikrinizi eyleme dönüştürdünüz.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="section-body">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <p><strong>PEKİ YA SONRA?</strong></p>
              <p>TEDxIzmit'te bu yıl "Peki Ya Sonra?" teması ve derinlemesine Her Şeyden Önce, O An konuları üzerinde keşif sürdürecek. Gün sonunda hayatınızı yeniden şekillendirecek, "paylaşmaya değer fikirler" mottosu ile hayat çizginize bir kaç cümle eklenecek.<br>Her Şeyden Önce: Bu oturumda sizi "her şeyin önce"sine götürecek konuşmacılar, işe başlama cesaretinin başarının anahtarı olduğunu anlatacak. Kilidi açmanın sırrını sizlerle paylaşacak. Başarının zor kısmının bitmiş olduğuna şahit olacaksınız.</p>
              <p>O an; İkinci ve son oturum. İlk oturumda "zor olan başlamaktır" dedik ancak her şeyin kendiliğinden gelmediğini fark ettik. Bu oturumda konuşmacılar size ne gibi engellerle karşılaştılar ve nasıl çözdükleri hakkında konuşurken, sizlerse küçük ipuçları yakalama çalışıp aklınızda hep aynı soruyu sormaya devam edeceksiniz. Gün sonunda ise tüm bunlar bittiğinde tek bir soru ile baş başa kalacaksınız.</p>
              <p><strong>PEKİ YA SONRA?</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- .section-introduction -->
  <div class="section section-whats-ted">
    <div class="section-header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <ul class="tab-titles" role="tablist">
              <li role="presentation" class="active">
                <a href="#ted-nedir" aria-controls="ted-nedir" role="tab" data-toggle="tab">TED Nedir?</a>
              </li>
              <li role="presentation">
                <a href="#tedx-izmit" aria-controls="tedx-izmit" role="tab" data-toggle="tab">TEDx İzmit mi?</a>
              </li>
              <li role="presentation">
                <a href="#tedx-nedir" aria-controls="tedx-nedir" role="tab" data-toggle="tab">TEDx Nedir?</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="section-body">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="ted-nedir">
                <h2 class="section-title">TED Nedir?</h2>
                <p class="section-subtitle">Ted, paylaşmaya değer fikirlerin paylaşıldığı yıllık bir konferanstır.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p><strong>WHY DO WE USE IT?</strong></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
              <div role="tabpanel" class="tab-pane" id="tedx-izmit">
                <h2 class="section-title">TEDx İzmit mi?</h2>
                <p class="section-subtitle">Kocaeli çevresinin ilk TEDx etkinliği olmasının gururunu yaşıyoruz.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p><strong>WHY DO WE USE IT?</strong></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
              <div role="tabpanel" class="tab-pane" id="tedx-nedir">
                <h2 class="section-title">TEDx Nedir?</h2>
                <p class="section-subtitle">TEDx etkinlikleri, TED konferanslarından bağımsız gerçekleştirilen 'Paylaşmaya Değer Fikirler'in konuşulduğu, kâr amacı gütmeyen yerel etkinliklerdir.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p><strong>WHY DO WE USE IT?</strong></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron">
    <div class="container">
      <h1>Hello, world!</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>
    <hr>
    <footer>
      <p>&copy; Company 2017</p>
    </footer>
  </div>
{% endblock %}
