{% set bodyClass = "home" %}
<!-- index.nunjucks -->
{% extends "layouts/master.njk" %}

{% block content %}
  <div class="hero">
    <div class="hero-inner">
      <div class="hero-content">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h1 class="hero-title">Eğer hayal edebilirsen yapabilirsin</h1>
              <p>İhtiyacın olan şey sadece inanmak!</p>
              <a href="#" class="btn btn-primary">Nasıl mı?</a>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-footer">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <h3 class="hero-title">Bizimle buluşmak için,</h3>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="hero-countdown" data-countdown="2018/01/21 00:00:00"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- .hero -->
  <div class="section section-introduction">
    <div class="section-inner">
      <div class="section-header">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h2 class="section-title">Peki ya sonra?</h2>
              <p class="section-subtitle">Bir karar verdiniz; ardından koştunuz, uyguladınız. Tebrikler! Artık bir fikrinizi eyleme dönüştürdünüz.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="section-body">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <p><strong>PEKİ YA SONRA?</strong></p>
              <p>TEDxIzmit'te bu yıl "Peki Ya Sonra?" teması ve derinlemesine Her Şeyden Önce, O An konuları üzerinde keşif sürdürecek. Gün sonunda hayatınızı yeniden şekillendirecek, "paylaşmaya değer fikirler" mottosu ile hayat çizginize bir kaç cümle eklenecek.<br>Her Şeyden Önce: Bu oturumda sizi "her şeyin önce"sine götürecek konuşmacılar, işe başlama cesaretinin başarının anahtarı olduğunu anlatacak. Kilidi açmanın sırrını sizlerle paylaşacak. Başarının zor kısmının bitmiş olduğuna şahit olacaksınız.</p>
              <p>O an; İkinci ve son oturum. İlk oturumda "zor olan başlamaktır" dedik ancak her şeyin kendiliğinden gelmediğini fark ettik. Bu oturumda konuşmacılar size ne gibi engellerle karşılaştılar ve nasıl çözdükleri hakkında konuşurken, sizlerse küçük ipuçları yakalama çalışıp aklınızda hep aynı soruyu sormaya devam edeceksiniz. Gün sonunda ise tüm bunlar bittiğinde tek bir soru ile baş başa kalacaksınız.</p>
              <p><strong>PEKİ YA SONRA?</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- .section-introduction -->
  <div class="section section-whats-ted">
    <div class="section-header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <ul class="tab-titles" role="tablist">
              <li role="presentation" class="active">
                <a href="#ted-nedir" aria-controls="ted-nedir" role="tab" data-toggle="tab">TED Nedir?</a>
              </li>
              <li role="presentation">
                <a href="#tedx-izmit" aria-controls="tedx-izmit" role="tab" data-toggle="tab">TEDx İzmit mi?</a>
              </li>
              <li role="presentation">
                <a href="#tedx-nedir" aria-controls="tedx-nedir" role="tab" data-toggle="tab">TEDx Nedir?</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="section-body">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="ted-nedir">
                <h2 class="section-title">TED Nedir?</h2>
                <p class="section-subtitle">Ted, paylaşmaya değer fikirlerin paylaşıldığı yıllık bir konferanstır.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p><strong>WHY DO WE USE IT?</strong></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
              <div role="tabpanel" class="tab-pane" id="tedx-izmit">
                <h2 class="section-title">TEDx İzmit mi?</h2>
                <p class="section-subtitle">Kocaeli çevresinin ilk TEDx etkinliği olmasının gururunu yaşıyoruz.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p><strong>WHY DO WE USE IT?</strong></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
              <div role="tabpanel" class="tab-pane" id="tedx-nedir">
                <h2 class="section-title">TEDx Nedir?</h2>
                <p class="section-subtitle">TEDx etkinlikleri, TED konferanslarından bağımsız gerçekleştirilen 'Paylaşmaya Değer Fikirler'in konuşulduğu, kâr amacı gütmeyen yerel etkinliklerdir.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p><strong>WHY DO WE USE IT?</strong></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- .section-whats-ted -->
  <div class="section section-apply">
    <div class="section-inner">
      <div class="section-header">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h2 class="section-title">Başvuru Süreci</h2>
              <p class="section-subtitle">Başvurunuzu sizinle tanışmak için bir fırsat olarak görüyoruz.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="section-body">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <ul class="apply-process">
                <li>
                  <div class="process">
                    <div class="process-icon">
                      <span class="icon icon_duyuru"></span>
                    </div>
                    <div class="process-title">Duyuru</div>
                    <div class="process-details">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                  </div>
                </li>
                <li>
                  <div class="process">
                    <div class="process-icon">
                      <span class="icon icon_basvuru"></span>
                    </div>
                    <div class="process-title">Başvuru</div>
                    <div class="process-details">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                  </div>
                </li>
                <li>
                  <div class="process">
                    <div class="process-icon">
                      <span class="icon icon_on_degerlendirme"></span>
                    </div>
                    <div class="process-title">Ön Değerlendirme</div>
                    <div class="process-details">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                  </div>
                </li>
                <li>
                  <div class="process">
                    <div class="process-icon">
                      <span class="icon icon_tanisma_toplantisi"></span>
                    </div>
                    <div class="process-title">Tanışma Toplantısı</div>
                    <div class="process-details">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                  </div>
                </li>
                <li>
                  <div class="process">
                    <div class="process-icon">
                      <span class="icon icon_secim_gunu"></span>
                    </div>
                    <div class="process-title">Seçim Günü</div>
                    <div class="process-details">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- .section-apply -->
  <div class="section section-speakers">
    <div class="section-inner">
      <div class="section-header">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h2 class="section-title">Konuşmacılar</h2>
              <p class="section-subtitle">Lorem Ipsum is simply dummy text of the printing and</p>
            </div>
          </div>
        </div>
      </div>
      <div class="section-body">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="speakers">
                <div class="speaker">
                  <div class="speaker-object">
                    <img src="assets/images/konusmaci.png" alt="Perçin İmrek">
                    <ul class="social-links">
                      <li>
                        <a href="#" title="Facebook">
                          <i class="fa fa-facebook"></i>
                          <span class="sr-only">Facebook</span>
                        </a>
                      </li>
                      <li>
                        <a href="#" title="Twitter">
                          <span class="fa fa-twitter"></span>
                          <span class="sr-only">Twitter</span>
                        </a>
                      </li>
                      <li>
                        <a href="#" title="Dribbble">
                          <span class="fa fa-dribbble"></span>
                          <span class="sr-only">Dribbble</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="speaker-body">
                    <h4 class="speaker-title">Perçin İmrek</h4>
                    <p class="speaker-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div>
                <div class="speaker">
                  <div class="speaker-object">
                    <img src="assets/images/konusmaci.png" alt="Perçin İmrek">
                    <ul class="social-links">
                      <li>
                        <a href="#" title="Facebook">
                          <i class="fa fa-facebook"></i>
                          <span class="sr-only">Facebook</span>
                        </a>
                      </li>
                      <li>
                        <a href="#" title="Twitter">
                          <span class="fa fa-twitter"></span>
                          <span class="sr-only">Twitter</span>
                        </a>
                      </li>
                      <li>
                        <a href="#" title="Dribbble">
                          <span class="fa fa-dribbble"></span>
                          <span class="sr-only">Dribbble</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="speaker-body">
                    <h4 class="speaker-title">Perçin İmrek</h4>
                    <p class="speaker-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div>
                <div class="speaker">
                  <div class="speaker-object">
                    <img src="assets/images/konusmaci.png" alt="Perçin İmrek">
                    <ul class="social-links">
                      <li>
                        <a href="#" title="Facebook">
                          <i class="fa fa-facebook"></i>
                          <span class="sr-only">Facebook</span>
                        </a>
                      </li>
                      <li>
                        <a href="#" title="Twitter">
                          <span class="fa fa-twitter"></span>
                          <span class="sr-only">Twitter</span>
                        </a>
                      </li>
                      <li>
                        <a href="#" title="Dribbble">
                          <span class="fa fa-dribbble"></span>
                          <span class="sr-only">Dribbble</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="speaker-body">
                    <h4 class="speaker-title">Perçin İmrek</h4>
                    <p class="speaker-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div>
                <div class="speaker">
                  <div class="speaker-object">
                    <img src="assets/images/konusmaci.png" alt="Perçin İmrek">
                    <ul class="social-links">
                      <li>
                        <a href="#" title="Facebook">
                          <i class="fa fa-facebook"></i>
                          <span class="sr-only">Facebook</span>
                        </a>
                      </li>
                      <li>
                        <a href="#" title="Twitter">
                          <span class="fa fa-twitter"></span>
                          <span class="sr-only">Twitter</span>
                        </a>
                      </li>
                      <li>
                        <a href="#" title="Dribbble">
                          <span class="fa fa-dribbble"></span>
                          <span class="sr-only">Dribbble</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="speaker-body">
                    <h4 class="speaker-title">Perçin İmrek</h4>
                    <p class="speaker-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div>
                <div class="speaker">
                  <div class="speaker-object">
                    <img src="assets/images/konusmaci.png" alt="Perçin İmrek">
                    <ul class="social-links">
                      <li>
                        <a href="#" title="Facebook">
                          <i class="fa fa-facebook"></i>
                          <span class="sr-only">Facebook</span>
                        </a>
                      </li>
                      <li>
                        <a href="#" title="Twitter">
                          <span class="fa fa-twitter"></span>
                          <span class="sr-only">Twitter</span>
                        </a>
                      </li>
                      <li>
                        <a href="#" title="Dribbble">
                          <span class="fa fa-dribbble"></span>
                          <span class="sr-only">Dribbble</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="speaker-body">
                    <h4 class="speaker-title">Perçin İmrek</h4>
                    <p class="speaker-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div>
                <div class="speaker">
                  <div class="speaker-object">
                    <img src="assets/images/konusmaci.png" alt="Perçin İmrek">
                    <ul class="social-links">
                      <li>
                        <a href="#" title="Facebook">
                          <i class="fa fa-facebook"></i>
                          <span class="sr-only">Facebook</span>
                        </a>
                      </li>
                      <li>
                        <a href="#" title="Twitter">
                          <span class="fa fa-twitter"></span>
                          <span class="sr-only">Twitter</span>
                        </a>
                      </li>
                      <li>
                        <a href="#" title="Dribbble">
                          <span class="fa fa-dribbble"></span>
                          <span class="sr-only">Dribbble</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="speaker-body">
                    <h4 class="speaker-title">Perçin İmrek</h4>
                    <p class="speaker-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- .section-speakers -->
  <div class="section section-schedule">
    <div class="section-inner">
      <div class="section-header">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h2 class="section-title">Program</h2>
              <ul class="schedule-dates" role="tablist">
                <li role="presentation" class="active">
                  <a href="#schedule01" aria-controls="schedule01" role="tab" data-toggle="tab">3 Ekim, Pazartesi</a>
                </li>
                <li role="presentation">
                  <a href="#schedule02" aria-controls="schedule02" role="tab" data-toggle="tab">4 Ekim, Salı</a>
                </li>
                <li role="presentation">
                  <a href="#schedule03" aria-controls="schedule03" role="tab" data-toggle="tab">5 Ekim, Salı</a>
                </li>
                <li role="presentation">
                  <a href="#schedule04" aria-controls="schedule04" role="tab" data-toggle="tab">6 Ekim, Salı</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="section-body">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="schedule01">
                  <div class="event-schedule">
                    <div class="row schedule">
                      <div class="col-xs-12 col-sm-2">
                        <div class="schedule-time">
                          <span>08:30</span>
                          <span>12:00</span>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-10">
                        <div class="schedule-content">
                          <div class="schedule-title">Kapı Açılışı</div>
                          <div class="schedule-text">Lorem Ipsum is simply dummy text of the printing and</div>
                        </div>
                      </div>
                    </div>
                    <div class="row schedule">
                      <div class="col-xs-12 col-sm-2">
                        <div class="schedule-time">
                          <span>08:30</span>
                          <span>12:00</span>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-10">
                        <div class="schedule-content">
                          <div class="schedule-title">Kapı Açılışı</div>
                          <div class="schedule-text">Lorem Ipsum is simply dummy text of the printing and</div>
                        </div>
                      </div>
                    </div>
                    <div class="row schedule">
                      <div class="col-xs-12 col-sm-2">
                        <div class="schedule-time">
                          <span>08:30</span>
                          <span>12:00</span>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-10">
                        <div class="schedule-content">
                          <div class="schedule-title">Kapı Açılışı</div>
                          <div class="schedule-text">Lorem Ipsum is simply dummy text of the printing and</div>
                        </div>
                      </div>
                    </div>
                    <div class="row schedule">
                      <div class="col-xs-12 col-sm-2">
                        <div class="schedule-time">
                          <span>08:30</span>
                          <span>12:00</span>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-10">
                        <div class="schedule-content">
                          <div class="schedule-title">Kapı Açılışı</div>
                          <div class="schedule-text">Lorem Ipsum is simply dummy text of the printing and</div>
                        </div>
                      </div>
                    </div>
                    <div class="row schedule">
                      <div class="col-xs-12 col-sm-2">
                        <div class="schedule-time">
                          <span>08:30</span>
                          <span>12:00</span>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-10">
                        <div class="schedule-content">
                          <div class="schedule-title">Kapı Açılışı</div>
                          <div class="schedule-text">Lorem Ipsum is simply dummy text of the printing and</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="schedule02">
                  <div class="event-schedule">
                    <div class="row schedule">
                      <div class="col-xs-12 col-sm-2">
                        <div class="schedule-time">
                          <span>08:30</span>
                          <span>12:00</span>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-10">
                        <div class="schedule-content">
                          <div class="schedule-title">Kapı Açılışı</div>
                          <div class="schedule-text">Lorem Ipsum is simply dummy text of the printing and</div>
                        </div>
                      </div>
                    </div>
                    <div class="row schedule">
                      <div class="col-xs-12 col-sm-2">
                        <div class="schedule-time">
                          <span>08:30</span>
                          <span>12:00</span>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-10">
                        <div class="schedule-content">
                          <div class="schedule-title">Kapı Açılışı</div>
                          <div class="schedule-text">Lorem Ipsum is simply dummy text of the printing and</div>
                        </div>
                      </div>
                    </div>
                    <div class="row schedule">
                      <div class="col-xs-12 col-sm-2">
                        <div class="schedule-time">
                          <span>08:30</span>
                          <span>12:00</span>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-10">
                        <div class="schedule-content">
                          <div class="schedule-title">Kapı Açılışı</div>
                          <div class="schedule-text">Lorem Ipsum is simply dummy text of the printing and</div>
                        </div>
                      </div>
                    </div>
                    <div class="row schedule">
                      <div class="col-xs-12 col-sm-2">
                        <div class="schedule-time">
                          <span>08:30</span>
                          <span>12:00</span>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-10">
                        <div class="schedule-content">
                          <div class="schedule-title">Kapı Açılışı</div>
                          <div class="schedule-text">Lorem Ipsum is simply dummy text of the printing and</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="schedule03">
                  <div class="event-schedule">
                    <div class="row schedule">
                      <div class="col-xs-12 col-sm-2">
                        <div class="schedule-time">
                          <span>08:30</span>
                          <span>12:00</span>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-10">
                        <div class="schedule-content">
                          <div class="schedule-title">Kapı Açılışı</div>
                          <div class="schedule-text">Lorem Ipsum is simply dummy text of the printing and</div>
                        </div>
                      </div>
                    </div>
                    <div class="row schedule">
                      <div class="col-xs-12 col-sm-2">
                        <div class="schedule-time">
                          <span>08:30</span>
                          <span>12:00</span>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-10">
                        <div class="schedule-content">
                          <div class="schedule-title">Kapı Açılışı</div>
                          <div class="schedule-text">Lorem Ipsum is simply dummy text of the printing and</div>
                        </div>
                      </div>
                    </div>
                    <div class="row schedule">
                      <div class="col-xs-12 col-sm-2">
                        <div class="schedule-time">
                          <span>08:30</span>
                          <span>12:00</span>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-10">
                        <div class="schedule-content">
                          <div class="schedule-title">Kapı Açılışı</div>
                          <div class="schedule-text">Lorem Ipsum is simply dummy text of the printing and</div>
                        </div>
                      </div>
                    </div>
                    <div class="row schedule">
                      <div class="col-xs-12 col-sm-2">
                        <div class="schedule-time">
                          <span>08:30</span>
                          <span>12:00</span>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-10">
                        <div class="schedule-content">
                          <div class="schedule-title">Kapı Açılışı</div>
                          <div class="schedule-text">Lorem Ipsum is simply dummy text of the printing and</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="schedule04">
                  <div class="event-schedule">
                    <div class="row schedule">
                      <div class="col-xs-12 col-sm-2">
                        <div class="schedule-time">
                          <span>08:30</span>
                          <span>12:00</span>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-10">
                        <div class="schedule-content">
                          <div class="schedule-title">Kapı Açılışı</div>
                          <div class="schedule-text">Lorem Ipsum is simply dummy text of the printing and</div>
                        </div>
                      </div>
                    </div>
                    <div class="row schedule">
                      <div class="col-xs-12 col-sm-2">
                        <div class="schedule-time">
                          <span>08:30</span>
                          <span>12:00</span>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-10">
                        <div class="schedule-content">
                          <div class="schedule-title">Kapı Açılışı</div>
                          <div class="schedule-text">Lorem Ipsum is simply dummy text of the printing and</div>
                        </div>
                      </div>
                    </div>
                    <div class="row schedule">
                      <div class="col-xs-12 col-sm-2">
                        <div class="schedule-time">
                          <span>08:30</span>
                          <span>12:00</span>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-10">
                        <div class="schedule-content">
                          <div class="schedule-title">Kapı Açılışı</div>
                          <div class="schedule-text">Lorem Ipsum is simply dummy text of the printing and</div>
                        </div>
                      </div>
                    </div>
                    <div class="row schedule">
                      <div class="col-xs-12 col-sm-2">
                        <div class="schedule-time">
                          <span>08:30</span>
                          <span>12:00</span>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-10">
                        <div class="schedule-content">
                          <div class="schedule-title">Kapı Açılışı</div>
                          <div class="schedule-text">Lorem Ipsum is simply dummy text of the printing and</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
