{% set bodyClass = "konusmacilar" %}
<!-- konusmacilar.njk -->
{% extends "layouts/master.njk" %}

{% block content %}
    <div class="banner">
      <div class="banner-image" style="background-image: url(assets/images/banner.jpg);"></div>
      <div class="banner-content">
        <h1 class="banner-title">Konuşmacılar</h1>
      </div>
    </div>
    <div class="section section-speakers">
      <div class="section-inner">
        <div class="section-header">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <p class="section-subtitle">Lorem Ipsum is simply dummy text of the printing and</p>
              </div>
            </div>
          </div>
        </div>
        <div class="section-body">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="speakers">
                  <div class="speaker">
                    <div class="speaker-object">
                      <img src="assets/images/konusmaci.png" alt="Perçin İmrek">
                      <ul class="social-links">
                        <li>
                          <a href="#" title="Facebook">
                            <i class="fa fa-facebook"></i>
                            <span class="sr-only">Facebook</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" title="Twitter">
                            <span class="fa fa-twitter"></span>
                            <span class="sr-only">Twitter</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" title="Dribbble">
                            <span class="fa fa-dribbble"></span>
                            <span class="sr-only">Dribbble</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="speaker-body">
                      <h4 class="speaker-title"><a href="konusmaci-detay.html">Perçin İmrek</a></h4>
                      <p class="speaker-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                  </div>
                  <div class="speaker">
                    <div class="speaker-object">
                      <img src="assets/images/konusmaci.png" alt="Perçin İmrek">
                      <ul class="social-links">
                        <li>
                          <a href="#" title="Facebook">
                            <i class="fa fa-facebook"></i>
                            <span class="sr-only">Facebook</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" title="Twitter">
                            <span class="fa fa-twitter"></span>
                            <span class="sr-only">Twitter</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" title="Dribbble">
                            <span class="fa fa-dribbble"></span>
                            <span class="sr-only">Dribbble</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="speaker-body">
                      <h4 class="speaker-title"><a href="konusmaci-detay.html">Perçin İmrek</a></h4>
                      <p class="speaker-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                  </div>
                  <div class="speaker">
                    <div class="speaker-object">
                      <img src="assets/images/konusmaci.png" alt="Perçin İmrek">
                      <ul class="social-links">
                        <li>
                          <a href="#" title="Facebook">
                            <i class="fa fa-facebook"></i>
                            <span class="sr-only">Facebook</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" title="Twitter">
                            <span class="fa fa-twitter"></span>
                            <span class="sr-only">Twitter</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" title="Dribbble">
                            <span class="fa fa-dribbble"></span>
                            <span class="sr-only">Dribbble</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="speaker-body">
                      <h4 class="speaker-title"><a href="konusmaci-detay.html">Perçin İmrek</a></h4>
                      <p class="speaker-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                  </div>
                  <div class="speaker">
                    <div class="speaker-object">
                      <img src="assets/images/konusmaci.png" alt="Perçin İmrek">
                      <ul class="social-links">
                        <li>
                          <a href="#" title="Facebook">
                            <i class="fa fa-facebook"></i>
                            <span class="sr-only">Facebook</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" title="Twitter">
                            <span class="fa fa-twitter"></span>
                            <span class="sr-only">Twitter</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" title="Dribbble">
                            <span class="fa fa-dribbble"></span>
                            <span class="sr-only">Dribbble</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="speaker-body">
                      <h4 class="speaker-title"><a href="konusmaci-detay.html">Perçin İmrek</a></h4>
                      <p class="speaker-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                  </div>
                  <div class="speaker">
                    <div class="speaker-object">
                      <img src="assets/images/konusmaci.png" alt="Perçin İmrek">
                      <ul class="social-links">
                        <li>
                          <a href="#" title="Facebook">
                            <i class="fa fa-facebook"></i>
                            <span class="sr-only">Facebook</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" title="Twitter">
                            <span class="fa fa-twitter"></span>
                            <span class="sr-only">Twitter</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" title="Dribbble">
                            <span class="fa fa-dribbble"></span>
                            <span class="sr-only">Dribbble</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="speaker-body">
                      <h4 class="speaker-title"><a href="konusmaci-detay.html">Perçin İmrek</a></h4>
                      <p class="speaker-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                  </div>
                  <div class="speaker">
                    <div class="speaker-object">
                      <img src="assets/images/konusmaci.png" alt="Perçin İmrek">
                      <ul class="social-links">
                        <li>
                          <a href="#" title="Facebook">
                            <i class="fa fa-facebook"></i>
                            <span class="sr-only">Facebook</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" title="Twitter">
                            <span class="fa fa-twitter"></span>
                            <span class="sr-only">Twitter</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" title="Dribbble">
                            <span class="fa fa-dribbble"></span>
                            <span class="sr-only">Dribbble</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="speaker-body">
                      <h4 class="speaker-title"><a href="konusmaci-detay.html">Perçin İmrek</a></h4>
                      <p class="speaker-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                  </div>
                  <div class="speaker">
                    <div class="speaker-object">
                      <img src="assets/images/konusmaci.png" alt="Perçin İmrek">
                      <ul class="social-links">
                        <li>
                          <a href="#" title="Facebook">
                            <i class="fa fa-facebook"></i>
                            <span class="sr-only">Facebook</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" title="Twitter">
                            <span class="fa fa-twitter"></span>
                            <span class="sr-only">Twitter</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" title="Dribbble">
                            <span class="fa fa-dribbble"></span>
                            <span class="sr-only">Dribbble</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="speaker-body">
                      <h4 class="speaker-title"><a href="konusmaci-detay.html">Perçin İmrek</a></h4>
                      <p class="speaker-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                  </div>
                  <div class="speaker">
                    <div class="speaker-object">
                      <img src="assets/images/konusmaci.png" alt="Perçin İmrek">
                      <ul class="social-links">
                        <li>
                          <a href="#" title="Facebook">
                            <i class="fa fa-facebook"></i>
                            <span class="sr-only">Facebook</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" title="Twitter">
                            <span class="fa fa-twitter"></span>
                            <span class="sr-only">Twitter</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" title="Dribbble">
                            <span class="fa fa-dribbble"></span>
                            <span class="sr-only">Dribbble</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="speaker-body">
                      <h4 class="speaker-title"><a href="konusmaci-detay.html">Perçin İmrek</a></h4>
                      <p class="speaker-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                  </div>
                  <div class="speaker">
                    <div class="speaker-object">
                      <img src="assets/images/konusmaci.png" alt="Perçin İmrek">
                      <ul class="social-links">
                        <li>
                          <a href="#" title="Facebook">
                            <i class="fa fa-facebook"></i>
                            <span class="sr-only">Facebook</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" title="Twitter">
                            <span class="fa fa-twitter"></span>
                            <span class="sr-only">Twitter</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" title="Dribbble">
                            <span class="fa fa-dribbble"></span>
                            <span class="sr-only">Dribbble</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="speaker-body">
                      <h4 class="speaker-title"><a href="konusmaci-detay.html">Perçin İmrek</a></h4>
                      <p class="speaker-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                  </div>
                  <div class="speaker">
                    <div class="speaker-object">
                      <img src="assets/images/konusmaci.png" alt="Perçin İmrek">
                      <ul class="social-links">
                        <li>
                          <a href="#" title="Facebook">
                            <i class="fa fa-facebook"></i>
                            <span class="sr-only">Facebook</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" title="Twitter">
                            <span class="fa fa-twitter"></span>
                            <span class="sr-only">Twitter</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" title="Dribbble">
                            <span class="fa fa-dribbble"></span>
                            <span class="sr-only">Dribbble</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="speaker-body">
                      <h4 class="speaker-title"><a href="konusmaci-detay.html">Perçin İmrek</a></h4>
                      <p class="speaker-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                  </div>
                  <div class="speaker">
                    <div class="speaker-object">
                      <img src="assets/images/konusmaci.png" alt="Perçin İmrek">
                      <ul class="social-links">
                        <li>
                          <a href="#" title="Facebook">
                            <i class="fa fa-facebook"></i>
                            <span class="sr-only">Facebook</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" title="Twitter">
                            <span class="fa fa-twitter"></span>
                            <span class="sr-only">Twitter</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" title="Dribbble">
                            <span class="fa fa-dribbble"></span>
                            <span class="sr-only">Dribbble</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="speaker-body">
                      <h4 class="speaker-title"><a href="konusmaci-detay.html">Perçin İmrek</a></h4>
                      <p class="speaker-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                  </div>
                  <div class="speaker">
                    <div class="speaker-object">
                      <img src="assets/images/konusmaci.png" alt="Perçin İmrek">
                      <ul class="social-links">
                        <li>
                          <a href="#" title="Facebook">
                            <i class="fa fa-facebook"></i>
                            <span class="sr-only">Facebook</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" title="Twitter">
                            <span class="fa fa-twitter"></span>
                            <span class="sr-only">Twitter</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" title="Dribbble">
                            <span class="fa fa-dribbble"></span>
                            <span class="sr-only">Dribbble</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="speaker-body">
                      <h4 class="speaker-title"><a href="konusmaci-detay.html">Perçin İmrek</a></h4>
                      <p class="speaker-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- .section-speakers -->
{% endblock %}
