    <div class="section section-newsletter">
      <div class="section-inner">
        <div class="section-body">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="section-subtitle">Yeniliklerimizden haberdar olmak için e-bülten listemize katılın.</div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <form class="form-newsletter" action="#" method="get" accept-charset="utf-8">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="E-Mail Adresinizi Yazın...">
                    <span class="input-group-btn">
                      <button class="btn btn-send" type="button">Kaydol!</button>
                    </span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- .section-newsletter -->
    <div class="section section-social">
      <div class="section-inner">
        <div class="section-header">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h2 class="section-title">Sosyal Medya</h2>
                <p class="section-subtitle">Lorem Ipsum is simply dummy text of the printing and</p>
              </div>
            </div>
          </div>
        </div>
        <div class="section-body">
          <ul class="social-links">
            <li>
              <a href="#" title="Facebook">
                <span class="fa fa-facebook"></span>
                <span class="social-label">Facebook'ta Beğenin</span>
              </a>
            </li>
            <li>
              <a href="#" title="Instagram">
                <span class="fa fa-instagram"></span>
                <span class="social-label">Instagram'da Takip Edin</span>
              </a>
            </li>
            <li>
              <a href="#" title="Youtube">
                <span class="fa fa-youtube-play"></span>
                <span class="social-label">Youtube'da Abone Olun</span>
              </a>
            </li>
            <li>
              <a href="#" title="Twitter">
                <span class="fa fa-twitter"></span>
                <span class="social-label">Twitter'da Takip Edin</span>
              </a>
            </li>
            <li>
              <a href="#" title="Flickr">
                <span class="fa fa-flickr"></span>
                <span class="social-label">Flickr'da Takip Edin</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
