  <footer class="site-footer" id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <ul class="footer-links">
              <li><a href="#">TED</a></li>
              <li><a href="#">TEDX</a></li>
              <li><a href="#">TEDXIzmit</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="footer-left">
              <a href="#" class="footer-brand">
                <img src="assets/images/footer_logo.png" alt="{{ siteName }}">
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="footer-right">
              <span class="footer-copyright">2017 &copy; {{ siteName }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
