  <header class="site-header" id="header">
      <div class="navbar" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Menüyü görüntüle</span>
              <span class="fa fa-bars"></span>
            </button>
            <a class="navbar-brand" href="index.html">
              <img src="assets/images/logo.png" class="brand-image-alt" alt="{{ siteName }}">
              <img src="assets/images/logo_normal.png" class="brand-image" alt="{{ siteName }}">
              <span class="sr-only">{{ siteName }}</span>
            </a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="detaylar.html">Detaylar</a></li>
              <li class="active"><a href="#">Konuşmacılar</a></li>
              <li><a href="#">Partnerlerimiz</a></li>
              <li><a href="#">Etkinlikler</a></li>
              <li><a href="#">Gönüllü Ol</a></li>
              <li><a href="#">Fikrim Var</a></li>
              <li><a href="#">İletişim</a></li>
            </ul>
          </div>
        </div>
      </div>
  </header>
