//
// Ana Sayfa
// --------------------------------------------------

// Hero
// -------------------------
.hero {
  position: relative;
    left: 0;
    top: 0;
  height: 100%;
  height: 100vh;
  width: 100%;

  .hero-inner,
  .hero-content,
  .hero-footer {
    position: absolute;
      left: 0;
    width: 100%;
  }

  // Inner Content Wrapper
  .hero-inner {
    background: transparent url('../images/bg_hero.jpg') center center no-repeat;
    background-size: cover;
    height: 100%;
    top: 0;
  }

  // Content Section
  .hero-content {
    color: #fff;
    font-size: 24px;
    line-height: (30 / 24);
    top: 50%;
    transform: translateY(-50%);
    .text-center();

    .hero-title,
    .btn {
      .text-uppercase();
    }

    .hero-title {
      font-size: 30px;
      line-height: (50 / 30);
      letter-spacing: 1px;
      margin-bottom: 30px;
      position: relative;

      &:after {
        background-color: @brand-primary;
        border-radius: 3px;
        content: "";
        position: absolute;
          bottom: -6px;
          left: 50%;
        transform: translateX(-50%);
        .size(80px, 6px);
      }
    }
    .btn {
      font-size: 18px;
      margin-bottom: 15px;
      margin-top: 15px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  // Counter Section
  .hero-footer {
    background-color: rgba(255, 43, 6, 0.8);
    color: #fff;
    height: 100px;
    bottom: 0;
    .text-uppercase();

    .hero-title {
      font-size: 32px;
      font-weight: 300;
      line-height: (36 / 32);
      .margin-tb(32px);
    }
  }

  // Countdown
  .hero-countdown {
    font-weight: 300;
    .text-center();

    .count-item,
    .count-time,
    .count-label {
      display: block;
    }
    .count-item {
      float: left;
      min-height: 1px;
      .padding-tb(16px, 20px);
      position: relative;
      width: 25%;

      &:nth-child(2) {
        background-color: #ff715f;
      }
      &:nth-child(3) {
        background-color: #ff6044;
      }
    }
    .count-time {
      font-size: 42px;
      line-height: (48 / 42);
    }
    .count-label {
      font-size: 16px;
      line-height: 1;
    }
  }
  .home & {
    margin-top: -120px;
  }
}

// Tanıtım bölümü
.section-introduction {
  .section-subtitle {
    font-weight: 600;
  }
  .section-body {
    .text-center();
  }
}

// Nedir Bölümü
.section-whats-ted {
  background: #1e1e1e url('../images/bg_nedir.jpg') center center no-repeat;
  background-size: cover;
  color: #fff;
  .text-center();

  .tab-titles {
    .list-unstyled();
    .clearfix();

    > li {
      // box-shadow: 0 15px 0 rgba(255, 255, 255, 0.35);
      display: block;
      float: left;
      padding-bottom: 15px;
      padding-left: 35px;
      padding-right: 35px;
      position: relative;
      width: unit(100 / 3, %);

      &:before,
      &:after {
        background-color: rgba(255, 255, 255, 0.35);
        content: "";
        position: absolute;
        display: none;
      }
      &:after {
        display: block;
        bottom: 15px;
        left: 0;
        right: 0;
        height: 1px;
      }
      &:first-child,
      &:last-child {
        &:before {
          display: block;
          bottom: 0;
          height: 30px;
          width: 1px;
        }
      }
      &:first-child {
        &:before {
          left: 0;
        }
      }
      &:last-child {
        &:before {
          right: 0;
        }
      }
      > a {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        color: #fff;
        display: block;
        font-size: 24px;
        line-height: (36 / 24);
        .text-center();
        padding-bottom: 20px;
        height: 56px;

        &:hover,
        &:focus {
          border-bottom: 1px solid @link-color;
          box-shadow: 0 1px 0 @link-color;
          color: #fff;
        }
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        border-bottom: 1px solid @link-color;
        box-shadow: 0 1px 0 @link-color;
        color: #fff;
        font-size: 36px;
        line-height: 1;
      }
    }
  }
  .section-title {
    text-transform: none;
  }
  .section-subtitle {
    font-weight: 600;
    .text-uppercase();
  }
}

// Başvuru Bölümü
.section-apply {
  background-color: #eee;
  color: #000;

  .apply-process {
    .list-unstyled();

    > li {
      margin-bottom: 10px;
    }
    .process {
      .text-center();

      &:hover,
      &:focus {
        .process-icon {
          border-color: @link-color;

          .icon {
            border-color: #000;
          }
        }
      }
    }
    .process-icon {
      border-bottom: 2px solid #bebebe;
      margin-bottom: 30px;
      margin-top: 20px;
      padding-bottom: 20px;
      position: relative;

      &:before {
        background-color: @link-color;
        border-radius: 100%;
        content: "";
        position: absolute;
          bottom: -11px;
          left: 50%;
        transform: translateX(-50%);
        .square(20px);
      }

      .icon {
        border: 1px solid transparent;
        border-radius: 100%;
        display: inline-block;
        position: relative;
        .square(115px);

        &:before {
          position: absolute;
            left: 50%;
            top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    .process-title {
      color: #000;
      font-size: 17px;
      font-weight: 600;
      line-height: (24 / 17);
      margin-bottom: 20px;
      padding-bottom: 10px;
      .text-uppercase();
      position: relative;

      &:after {
        background-color: @brand-primary;
        content: "";
        position: absolute;
          bottom: 0;
          left: 50%;
        transform: translateX(-50%);
        .size(34px, 3px);
      }
    }
    .process-details {
      font-size: 12px;
      font-weight: 300;
      line-height: (20 / 12);
      height: 100px;
      overflow-y: auto;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  @media (min-width: @screen-sm) {
    .apply-process {
      .clearfix();

      > li {
        float: left;
        width: 20%;
      }
      .process {
        &:hover,
        &:focus {
          .process-details {
            .opacity(1);
          }
        }
      }
      .process-details {
        .opacity(0);
      }
    }
  }
}

// Konuşmacılar Bölümü
.section-speakers {
  .speakers {
    .clearfix();
    padding-top: 20px;
  }
  .speaker {
    .make-xs-column(12);
    .make-sm-column(6);
    .make-md-column(4);
    margin-bottom: 30px;
  }
  .speaker-object {
    overflow: hidden;
    position: relative;
    height: 260px;
    margin-bottom: 30px;
    width: 100%;

    > img {
      .img-responsive();
    }
  }
  .social-links {
    height: 48px;
    margin-bottom: 0;
    .list-unstyled();
    padding-left: 16px;
    padding-right: 24px;
    position: absolute;
      bottom: 0;
      right: -16px;

    &:before {
      background-color: rgba(255, 43, 8, 0.8);
      content: "";
      position: absolute;
        left: 0;
        top: 0;
      transform: skewX(35deg);
      .square(100%);
    }
    > li {
      display: inline-block;
      padding-bottom: 12px;
      padding-top: 12px;
      position: relative;

      > a {
        color: #fff;
        display: block;
        font-size: 18px;
        line-height: (24 / 18);
        height: 24px;
        .text-center();
        width: 36px;

        &:hover,
        &:focus {
          .opacity(.8);
        }
      }
    }
  }
  .speaker-body {
    position: relative;
    .text-center();
  }
  .speaker-title {
    color: #000;
    font-size: 28px;
    line-height: (32 / 28);
    margin-bottom: 20px;
    padding-bottom: 20px;
    .text-uppercase();
    position: relative;

    &:after {
      background-color: @brand-primary;
      content: "";
      position: absolute;
        bottom: 0;
        left: 50%;
      transform: translateX(-50%);
      .size(34px, 3px);
    }

    > a {
      color: inherit;

      &:hover,
      &:focus {
        color: @brand-primary;
      }
    }
  }
}

// Etkinlik Programı
.section-schedule {
  padding-bottom: 0;
  padding-top: 0;

  .section-header {
    background-color: #eee;
    padding-bottom: 50px;
    padding-top: 50px;
    .text-center();
  }
  .schedule-dates {
    .list-unstyled();

    > li {
      display: inline-block;

      > a {
        color: #000;
        display: block;
        font-size: 16px;
        padding: 10px 15px;
        .text-uppercase();

        &:hover,
        &:focus {
          background-color: @link-color;
          color: #fff;
        }
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        background-color: @link-color;
        color: #fff;
      }
    }
  }
  .section-body {
    background-color: #f5f5f5;
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .event-schedule {
    position: relative;
  }
  // .schedule {}
  .schedule-time {
    padding-bottom: 10px;
  }
  // .schedule-content {}
  .schedule-title {
    font-size: 18px;
    line-height: 1.1;
    margin-bottom: 5px;
  }
  // .schedule-text {}
  @media (max-width: (@screen-sm - 1)) {
    .schedule {
      margin-bottom: 10px;
      .text-center();
    }
    .schedule-time {
      > span {
        display: inline-block;

        + span:before {
          content: "/";
          padding: 0 5px;
          color: inherit;
        }
      }
    }
    .schedule-content {
      border-top: 2px solid @link-color;
      padding-top: 10px;
    }
  }
  @media (min-width: @screen-sm) {
    .schedule-time {
      > span {
        display: block;
        .text-center();
      }
    }
    .schedule-content {
      border-left: 2px solid @link-color;
      padding-bottom: 20px;
      padding-left: 20px;
    }
    .schedule-title {
      font-size: 24px;
    }
  }
}

// E-bülten
.section-newsletter {
  background-color: @link-color;
  color: #fff;
  padding-bottom: 30px;
  padding-top: 40px;
  .text-center();

  .section-subtitle {
    font-size: 16px;
    line-height: (24 / 16);
    margin-bottom: 10px;
    .text-uppercase();
  }
  .form-newsletter {
    margin-bottom: 0;

    .form-control {
      height: 60px;
      padding-left: 30px;
      padding-right: 30px;
      .form-control-focus(#f5f5f5);

      ::-webkit-input-placeholder { /* Chrome */
        color: #dbdbdb;
        font-style: italic;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: #dbdbdb;
        font-style: italic;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: #dbdbdb;
        font-style: italic;
        opacity: 1;
      }
      :-moz-placeholder { /* Firefox 4 - 18 */
        color: #dbdbdb;
        font-style: italic;
        opacity: 1;
      }
    }
  }
  .btn-send {
    background-color: #000;
    border-color: #000;
    color: #fff;
    font-size: 16px;
    padding-bottom: 18px;
    padding-top: 18px;
    .text-uppercase();

    &:hover,
    &:focus {
      background-color: lighten(#000, 10%);
      border-color: lighten(#000, 10%);
      color: #fff;
    }
  }
  @media (min-width: @screen-sm) {
    .section-subtitle {
      font-size: 20px;
      line-height: (28 / 20);
    }
    .btn-send {
      width: 180px;
    }
  }
}

// Sosyal Medya Linkleri
.section-social {
  .social-links {
    .list-unstyled();
    margin-top: 30px;
    .text-center();

    > li {
      display: inline-block;
      padding-left: 15px;
      padding-right: 15px;

      > a {
        display: block;
        max-width: 120px;
        .fa {
          background-color: #000;
          border-radius: 100%;
          color: #fff;
          .center-block();
          font-size: 24px;
          line-height: 1;
          padding: 20px;
          .square(64px);
          .transition(all .3s ease);
        }
        .social-label {
          color: #000;
          display: block;
          font-size: 16px;
          font-weight: 400;
          line-height: (18 / 16);
          margin-bottom: 10px;
          margin-top: 30px;
          max-width: 100px;
          .opacity(0);
          .text-uppercase();
          .transition(all .3s ease);
        }
        &:hover,
        &:focus {
          .fa {
            background-color: @link-color;
            color: #fff;
            .scale(1.5);
          }
          .social-label {
            .opacity(1);
          }
        }
      }
    }
  }
  @media (min-width: 768px) {
    .section-title {
      margin-bottom: 30px;
    }
    .section-subtitle {
      font-size: 20px;
      line-height: (30 / 20);
    }
  }
}

// Konuşmacı Detayı
.section-speaker-single {
  .section-header {
    .page-link {
      color: #000;
      display: block;
      font-size: 12px;
      font-weight: 600;
      height: 36px;
      line-height: (26 / 12);
      padding-bottom: 5px;
      padding-top: 5px;
      position: relative;

      &:before {
        content: "";
        display: inline-block;
        font-family: "FontAwesome";
        font-size: 18px;
        line-height: (26 / 18);
        position: absolute;
          top: 0;
      }
      > span {
        display: inline-block;
        .text-uppercase();
      }
      &:hover,
      &:focus {
        color: @brand-primary;
      }
      &.page-previous {
        padding-left: 24px;
        .text-left();

        &:before {
          content: "\f104";
          left: 0;
        }
      }
      &.page-next {
        padding-right: 24px;
        .text-right();

        &:before {
          content: "\f105";
          right: 0;
        }
      }
    }
  }
  .section-title {
    font-size: 24px;
    font-weight: 500;
    line-height: (36 / 24);
    margin-bottom: 20px;
    padding-bottom: 0;

    &:after {
      display: none;
    }
  }
  .speaker-object {
    overflow: hidden;
    position: relative;
    height: 380px;
    margin-bottom: 30px;
    width: 100%;
  }
  .object-photo,
  .object-video {
    position: absolute;
      left: 0;
      top: 0;
    height: 100%;
    width: 100%;

    .section-toggle {
      display: block;
      font-size: 14px;
      line-height: (20 / 14);
      position: absolute;

      > span {
        background-color: @brand-primary;
        border-radius: 24px;
        color: #fff;
        padding: 8px 15px;
        transition: all .2s ease;
      }
      > span.label {
        font-weight: 600;
        .text-uppercase();
      }
      &:hover,
      &:focus {
        > span {
          background-color: #000;
          color: #fff;
        }
      }
    }
  }
  .object-photo {
    .text-center();
    z-index: 3;

    > img {
      .img-responsive(inline-block);
    }
    .section-toggle {
      bottom: 30px;
      right: 30px;
    }
  }
  .object-video {
    background-color: rgba(0,0,0,.35);
    display: none;
    z-index: 1;

    > iframe {
      border: 0;
      position: absolute;
        left: 50%;
        top: 0;
      transform: translateX(-50%);
    }
    .section-toggle {
      right: 30px;
      top: 30px;
    }
  }
  .speaker-footer {
    .padding-tb(30px);
  }
  // Sosyal Medya Linkleri
  ul.social-links {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;

    > li {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;

      > a {
        border: 1px solid #e4e4e4;
        color: #000;
        display: block;
        font-size: 18px;
        line-height: (24 / 18);
        .padding-tb(8px);
        .text-center();
        .square(40px);

        &:hover,
        &:focus {
          border-color: lighten(@brand-primary, 30%);
          color: @brand-primary;
        }
      }
    }
  }
  // Nitelikler
  .qualifications-title {
    color: #323335;
    margin-bottom: 30px;
    .text-uppercase();
  }
  .qualifications {
    background-color: #fff;
    border: 1px solid #f1f1f1;
    padding: 20px;
    .text-center();
  }
  @media (min-width: @screen-sm) {
    .object-video {
      > iframe {
        height: 380px;
        width: 676px;
      }
    }
  }
  @media (min-width: @screen-md) {
    .section-header {
      .page-link {
        &:before {
          font-size: 24px;
          line-height: (36 / 24);
        }
      }
    }
    .qualifications-title {
      font-size: 28px;
    }
    .qualifications {
      padding: 50px 30px;
    }
  }
  @media (min-width: @screen-lg) {
    .section-header {
      .page-link {
        &:before {
          font-size: 36px;
          line-height: 1;
        }
      }
    }
    .section-title {
      font-size: 29px;
      line-height: (36 / 29);
    }
  }
}
